@charset "UTF-8";
label{
    display: inline-block;
    text-align: right;
    width: 100px;
}
body{
	
	background-color: rgb(255, 255, 200);
	color:#000000;
}
a{
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 0);
	border-radius: 100vh;
	padding: 0.5em;
	border: 2px solid black;
}
.register{
    display: inline-block;
    text-align: right;
    width: 160px;
}
.initial{
	color: initial;
	background-color: initial;
	border-radius: initial;
	padding: initial;
	border:initial;
}